!!!
%html
  %head
    %title gems_learning
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"}
    = csrf_meta_tags
  %body
    #user-widget
      - if current_user
        Welcome
        = succeed "!" do
          %strong= current_user.name
        = link_to "Sign out", signout_path, id: "sign_out",'data-skip-pjax' => true
      - else
        = link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"
    %div
      / This will not be touched on PJAX updates
      = Time.now
    .container#pjax-container
      = yield

